# Dependencies
node_modules/

# Build / cache
dist/
build/
.vercel/
.turbo/
.next/
coverage/
.npm-cache/

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store
.vercel

# Archives (non necessari in repo per deploy)
*.zip
