@use "utils/variables.scss" as *;
@use "utils/colors.scss" as colors;

:export {
  borderRadiusElement: $border-radius-element;
  borderRadiusExternal: $border-radius-external;
  borderRadiusInternal: $border-radius-internal;
  textGrey: $text-grey;
  neutral80: $neutral-80;
  spacingS: $spacing-s;

  semanticDanger: $semantic-danger;

  general: $general;
  onGeneral: $on-general;
  onGeneralSub: $on-general-sub;
  generalHover: $general-hover;
  generalBorder: $general-border;
  accent: $accent;
  onAccent: $on-accent;
  onAccentSub: colors.$on-accent-sub;
  onAccentDisabled: colors.$on-accent-disabled;
  onAccentLight: colors.$on-accent-light;
  accentHover: colors.$accent-hover;
  accentActive: colors.$accent-active;
  accentLight: colors.$accent-light;
  accentBorder: colors.$accent-border;
  primary: colors.$primary;
  onPrimary: colors.$on-primary;
  onPrimarySub: colors.$on-primary-sub;
  onPrimaryDisabled: colors.$on-primary-disabled;
  onPrimaryLight: colors.$on-primary-light;
  primaryHover: colors.$primary-hover;
  primaryActive: colors.$primary-active;
  primaryLight: colors.$primary-light;
  primaryBorder: colors.$primary-border;
  secondary: colors.$secondary;
  onSecondary: colors.$on-secondary;
  onSecondarySub: colors.$on-secondary-sub;
  onSecondaryDisabled: colors.$on-secondary-disabled;
  onSecondaryLight: colors.$on-secondary-light;
  secondaryHover: colors.$secondary-hover;
  secondaryActive: colors.$secondary-active;
  secondaryLight: colors.$secondary-light;
  secondaryBorder: colors.$secondary-border;
  tertiary: colors.$tertiary;
  onTertiary: colors.$on-tertiary;
  onTertiarySub: colors.$on-tertiary-sub;
  onTertiaryDisabled: colors.$on-tertiary-disabled;
  onTertiaryLight: colors.$on-tertiary-light;
  tertiaryHover: colors.$tertiary-hover;
  tertiaryActive: colors.$tertiary-active;
  tertiaryLight: colors.$tertiary-light;
  tertiaryBorder: colors.$tertiary-border;
  inverse: colors.$inverse;
  onInverse: colors.$on-inverse;
  onInverseSub: colors.$on-inverse-sub;
  onInverseDisabled: colors.$on-inverse-disabled;
  inverseHover: colors.$inverse-hover;
  inverseActive: colors.$inverse-active;
  inverseBorder: colors.$inverse-border;
  general: colors.$general;
  onGeneral: colors.$on-general;
  onGeneralSub: colors.$on-general-sub;
  onGeneralDisabled: colors.$on-general-disabled;
  generalHover: colors.$general-hover;
  generalActive: colors.$general-active;
  generalBorder: colors.$general-border;
  disabled: colors.$disabled;
  onDisabled: colors.$on-disabled;
  negative: colors.$negative;
  onNegative: colors.$on-negative;
  negativeHover: colors.$negative-hover;
  onNegativeDisabled: colors.$on-negative-disabled;
  onNegativeSub: colors.$on-negative-sub;
  negativeBorder: colors.$negative-border;
  negativeActive: colors.$negative-active;
  canvas: colors.$canvas;
  danger: colors.$danger;
  dangerBorder: colors.$danger-border;
  onDanger: colors.$on-danger;
  dangerHover: colors.$danger-hover;
  dangerActive: colors.$danger-active;
  dangerLight: colors.$danger-light;
  info: colors.$info;
  infoBorder: colors.$info-border;
  onInfo: colors.$on-info;
  infoHover: colors.$info-hover;
  infoActive: colors.$info-active;
  infoLight: colors.$info-light;
  success: colors.$success;
  successBorder: colors.$success-border;
  onSuccess: colors.$on-success;
  successHover: colors.$success-hover;
  successActive: colors.$success-active;
  successLight: colors.$success-light;
  warning: colors.$warning;
  warningBorder: colors.$warning-border;
  onWarning: colors.$on-warning;
  warningHover: colors.$warning-hover;
  warningActive: colors.$warning-active;
  warningLight: colors.$warning-light;
  tablet: $tablet;
}
