@use "theme/utils/fonts" as *;
@use "theme/utils/colors.scss" as *;
@use "theme/utils/mixins" as *;

.tecma-search-bar {
  display: flex;
  gap: 0.5rem;
  .tecma-input {
    .input-label {
      font-size: $defaultFont;
      font-family: $primaryFont;
    }
    .input-container {
      input {
        font-size: $defaultFont;
        font-family: $primaryFont;
        text-overflow: ellipsis;
      }
      &:has(input:focus) {
        outline: 0.188rem solid opaqueColor($accent, 0.3);
        border-color: $accent-border;
      }
    }
    .help-text-errored {
      font-family: $primaryFont;
    }
  }
  .search-button {
    padding: 0.5rem 1.5rem;
    min-width: 7.5rem;
    gap: 0.5rem;
    transition: background-color 0.5s ease;
    &.form-with-label {
      margin-top: 1.625rem;
    }
  }
}
