// BREAKPOINTS
// Mobile: 320 - 768
// Tablet: 769 -1024
// Desktop_S: 1025 -1440
// Desktop_M: 1441 - 1920
// Desktop_L: 1921 in su
$mobile: 320px;
$tablet: 768px;
$desktop_S: 1024px;
$desktop_M: 1440px;
$desktop_L: 1920px;
