$spacing-xxs: var(--spacing-xxs, 0.25rem);
$spacing-xs: var(--spacing-xs, 0.5rem);
$spacing-s: var(--spacing-s, 1rem);
$spacing-m: var(--spacing-m, 1.5rem);
$spacing-l: var(--spacing-l, 2rem);
$border-radius-element: var(--border-radius-element, 0.125rem);
$border-radius-internal: var(--border-radius-internal, 0.125rem);
$border-radius-external: var(--border-radius-external, 0.25rem);
$border-radius-standard: var(--border-radius-standard, 0.0625rem);
